<h1>Editing position</h1>

<% form_for(@position) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.submit 'Update Position' %>
  </p>
<% end %>

<%= link_to 'Show', @position %> |
<%= link_to 'Back', positions_path %>