<h2>Student info for <%=h @user.full_name %></h2>

<%= link_to "Add Student", new_user_student_path(@user) %>

<table>
  <tr>
    <th>Name</th>
    <th>Grade</th>
    <th>Room</th>
    <th>Teacher</th>
  </tr>
  <% @students.each do |student| %>
    <tr>
      <td><%=h student.name %></td>
      <td><%=h student.grade %></td>
      <td><%=h student.room %></td>
      <td><%=h student.teacher %></td>
      <td><%= link_to "Edit", edit_user_student_path(@user, student) %></td>
      <td><%= link_to "Delete", user_student_path(@user, student), :method => :delete %></td>
    </tr>
  <% end %>
</table>