<h2>Student info for <%=h @user.full_name %></h2>

<%= link_to "Add Student", new_user_student_path(@user) %>

<% @students.each do |student| %>
  <div>
    <p>Name: <%=h student.name %></p>
    <p>Grade: <%=h student.grade %></p>
    <p>Room: <%=h student.room %></p>
    <p>Teacher: <%=h student.teacher %></p>
    <p><%= link_to "Edit", edit_user_student_path(@user, student) %></p>
  </div>
<% end %>
