<h2>Student info for <%=h @user.full_name %></h2>

<% if show_new_link? %>
  <%= link_to "Add Student", new_user_student_path(@user) %>
<% end %>

<table>
  <tr>
    <th>Name</th>
    <th>Grade</th>
    <th>Room</th>
    <th>Teacher</th>
  </tr>
  <% @students.each do |student| %>
    <tr>
      <td><%=h student.name %></td>
      <td><%=h student.grade %></td>
      <td><%=h student.room %></td>
      <td><%=h student.teacher %></td>
      <td><% if show_edit_link? %><%= link_to "Edit", edit_user_student_path(@user, student) %> <% end %></td>
      <td><% if show_delete_link? %><%= link_to "Delete", user_student_path(@user, student), :method => :delete %> <% end %></td>
    </tr>
  <% end %>
</table>