<% form_for @user do |f| -%>
  <%= f.error_messages %>
  <p>
    <%= f.label :first_name, "First Name" %>
    <%= f.text_field :first_name %>
  </p>
  
  <p>
    <%= f.label :last_name, "Last Name" %>
    <%= f.text_field :last_name %>
  </p>
  
  <p>
    <%= f.label :position_id, "Board position" %>
    <%= f.collection_select :position_id, Position.all, :id, :title, :include_blank => true %>
  </p>

  <p>
    <%= f.label :email, "Email" %>
    <%= f.text_field :email %>
  </p>

  <p>
    <%= f.label :address, "Address" %>
    <%= f.text_field :address %>
  </p>

  <p>
    <%= f.label :city, "City" %>
    <%= f.text_field :city %>
  </p>

  <p>
    <%= f.label :state, "State" %>
    <%= f.text_field :state %>
  </p>

  <p>
    <%= f.label :zip, "Zip" %>
    <%= f.text_field :zip %>
  </p>

  <p>
    <%= f.submit "Save" %>
  </p>
<% end -%>
