<% form_for @user do |f| -%>
  <%= f.error_messages %>
  <p>
    <%= f.label :first_name, "First Name" %><br />
    <%= f.text_field :first_name %>
  </p>
  
  <p>
    <%= f.label :last_name, "Last Name" %><br />
    <%= f.text_field :last_name %>
  </p>

  <%- if can_assign_position? -%>
  <p>
    <%= f.label :position_id, "Board position" %><br />
    <%= f.collection_select :position_id, Position.all, :id, :title, :include_blank => true %>
  </p>
  <%- end -%>

  <p>
    <%= f.label :email, "Email" %><br />
    <%= f.text_field :email %>
  </p>

  <p>
    <%= f.label :address, "Address" %><br />
    <%= f.text_field :address %>
  </p>

  <p>
    <%= f.label :home_phone, "Home Phone" %><br />
    <%= f.text_field :home_phone %>
  </p>

  <p>
    <%= f.label :cell_phone, "Cell Phone" %><br />
    <%= f.text_field :cell_phone %>
  </p>

  <p>
    <%= f.submit "Save" %>
  </p>
<% end -%>
