<p style="border:2px solid red;width: 200px;padding:5px;">
  <%= link_to "Home", root_path %>
  <br /><br />
  <%= link_to "Volunteers", users_path %>
  <br /><br />
  <%= link_to "Positions", positions_path %>
   <br /><br />
  <%= link_to "Committees", committees_path %>
  <br /><br />
  <%= link_to "New Position", new_position_path %>
  <br /><br />
  <%= link_to "New User", new_user_path %>
</p>
