<h1>Sunset PTA Board Members</h1>

<table>
  <tr>
    <td>Name</td>
    <td>Position</td>
    <td>Email</td>
  </tr>

<%- @board_members.each do |board_member| -%>
  <tr>
    <td><%= link_to(board_member.full_name, board_member_path(board_member)) %></td>
    <td><%= board_member.position.try(:title) %></td>
    <td><%= board_member.email %></td>
    <% if show_editdel_link? %>
      <td><%= link_to "Edit", edit_board_member_path(board_member) %></td>
    <% end %>
  </tr>
<%- end -%>
</table>

<br />
<% if show_new_link? %>
  <%= link_to 'New board_member', new_board_member_path %>
<% end %>

