<h2>Committees</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Chair(s)</th>
  </tr>

<%- @committees.each do |committee| -%>
  <tr>
    <td><%= link_to(committee.name, committee_path(committee)) %></td>
    <td>
      <%- committee.chairs.each do |chair| -%>
        <%= link_to(chair.full_name, user_path(chair)) %><br />
      <%- end -%>
    </td>
  <%- if can_edit_committees? -%>
    <td><%= link_to 'Edit', edit_committee_path(committee) %></td>
    <td><%= link_to 'Delete', committee, :confirm => 'Are you sure?', :method => :delete %></td>
  <%- end -%>
  </tr>
<%- end -%>
</table>

<br />

<% if can_edit_committees? %>
<%= link_to 'New committee', new_committee_path %>
<% end %>