<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>Sunset PTA</title>
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <meta http-equiv="Content-Style-Type" content="text/css" />
  <%= stylesheet_link_tag "main", :media => "all" %>
</head>
<body>
  <div id="outer">
    
    <!-- HEADER -->
    <div id="header">
      <div id="headerleft"></div>
      <div id="headerright">
        <p>The Parent Teacher Association would like to extend a warm welcome 
        to all new  and returning Families at Sunset Elementary School.</p>
      </div>
    </div>
    
    <!-- NAVIGATION/MENU -->
    <div id="nav">
      <div id="navright">
        <%= render :partial => 'shared/login_panel' %>
      </div>
      <div id="navleft">
        <%= render :partial => 'shared/menu' %>
      </div>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main">
      <%= render :partial => 'shared/flash', :locals => { :flash => flash } %>
      <%= yield %>
    </div>
    
    <div id="spacer"></div>
    
    <!-- FOOTER  -->
    <div id="footer">
      <p>&mdash; various links and other messages &mdash;</p>
    </div>
    
  </div>
</body>
</html>
